.DS_Store
node_modules
/src/telemetry-sources
out
declarations-resolved.json
declarations-extensions-resolved.json
merger/*
yarn.lock
.vscode/settings.json
*.json
coverage
!package*.json
!tsconfig.json
!merger/*.md