{
    "all": true,
    "cache": false,
    "extension": [
        ".ts",
        ".tsx"
    ],
    "exclude": [
        "**/*.d.ts",
        "coverage/**",
        "*.js",
        "packages/*/test/**",
        "test/**",
        "test{,-*}.ts",
        "**/*{.,-}{test,spec}.ts",
        "**/__tests__/**",
        "**/node_modules/**",
        "**/telemetry-sources/**",
        "src/tests/mocha/**"
    ],
    "reporter": [
        "html"
    ]
}